{{!-- <h1>{{ title }}</h1> --}}

<div class="header">
    <div class="logo">WEATHER APP</div>
    <div class="menu">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</div>
