<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p style="color: rgb(63, 62, 62);font-size:22px;font-weight:500">Provide location to see weather information.</p>

        <form action="">
            <div class="form-inner">
                <input type="text" placeholder="Location..">
                <button>Search</button>
            </div>          
        </form>

        <p id="message-1" style="font-size:20px;color:blue;"></p>
        <p class="data-item" id="summary">summary: <span></span></p>
        <p class="data-item" id="temperature">temperature(deg celcius): <span></span></p>
        <p class="data-item" id="dewPoint">dewPoint(deg celcius): <span></span></p>
        <p class="data-item" id="humidity">humidity: <span></span></p>
        <p class="data-item" id="pressure">pressure: <span></span></p>
        <p class="data-item" id="windSpeed">windSpeed(m/s): <span></span></p>
        <p class="data-item" id="visibility">visibility(km): <span></span></p>
        <p class="data-item" id="precPercentage">precPercentage(%): <span></span></p>

    </div>
    
    {{>footer}}
</body>
<script src="./js/script.js"></script>

</html>